*.pyc
*.pyo
*.pyd
__pycache__/
*.vim
*.viminfo
*.swp
*.swo
*.vimswap
*.vimviews
*.vim SESSION
*.vimrc
__init__.pyc
*.egg-info
dist/
build/
*.log
*.tmp
*.cache
*.pid
.DS_Store
env/
venv/
README.md~
*.gitignore~ 
*.gitmodules
*.vim.session
.tags 

#.idea 
#*~ 
#*.bak 
#*.orig 
#*.rej 
#.*.swp 
#vim.*.swp 
#vim.*.swo 
#vim.*.vim 
#vim.*.viminfo 
#vim.*.vimviews 
#vim.*.vimswap 
#vim.*SESSION 
#mrSession.xml 
#.vim 
#.viminfo 
#.vimviews 
#.vimswap 
#.vimsession
